@use "../partials/global";

$highlight-color: #fefaf5;
$accent-color: #db7a4e;
.banner {
  background-size: cover;
  background-position: center;
  min-height: 71rem;
  max-height: 120rem;
}

.schedule {
  display: flex;
  justify-content: center;
}

.schedule__container {
  display: inline-block;
  text-align: center;
  margin: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  height: 38rem;
  width: 25rem;
  background-color: white;
}

.schedule__activity {
  background-color: $highlight-color;
  margin: 1rem 2rem;
  padding: 1.5rem;
  color: black;
  font-size: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.schedule__date {
  font-size: 2rem;
  color: black;
  border-bottom: solid;
  margin: 2rem;
}

.banner__title {
  font-size: 7rem;
  color: white;
  margin: 0 0 4rem 10rem;
  padding-top: 7rem;
}
